body {
    background-color: #e6e6ff;



}

#h1 {
	text-align: center;
	text-transform: uppercase;
	text-decoration: underline;
	padding: 25px;
	background-color: #4a79c4;
	width: 1690px;
	margin-left: 145px;
	border: 3px double black;
	position: absolute;

}

#Intro {
	margin-left: 25%;
	margin-right: 25%;
	size: 20px;
    font-size: 20px;
    text-align: center;
    border-bottom: 5px solid grey;
    
}

#Roo {
	margin-top: 25px;
	margin-left: 20px;
	border: 4px inset grey;
	padding: ;

}

#Toc {
	text-align: center;
	border-left: 3px solid blue;
	border-right: 3px solid blue;
	width: 250px;
	margin-left: 820px;

}


.Java {
	font-size: 40px;
	text-decoration: underline;
	margin-left: 15px;
	transition: width 2.5s;
	width:100px;
	padding-left: 10px;
}

.Java:hover {
	width: 400px;
	background-color: #ccced1;
	transition-timing-function: ease-in-out;
	border-right: solid 3px black;
}

#Channel {
	font-size: 20px;
	margin-left: 15px;
	padding-left: 10px;
}

#Begin:visited {
	color: black;
}

#Begin:active {
	font-size: 19.5px;
}

#Inter:visited {
	color: black;
}

#Inter:active {
	font-size: 19.5px;
}


.Codes {
	text-align: center;
	text-decoration: underline;
	padding: 13px;
	width: 200px;
	margin-left: 830px;
	font-size: 17px;
}

.Codes:hover {
	font-size:21px;
	background-color: #ccced1;
	border-left: 2px solid grey;
}

.Codes:active {
	font-size:19px;
}


.hr1 {
	border: solid;
	height: 0px;
	width: 100%;
	color: #d0d2d8;
	
}

.hr2 {
	border: solid;
	height: 0px;
	width: 100%;
	color: #d0d2d8;	
}

.CSS {
	font-size: 40px;
	text-decoration: underline;
	margin-left: 15px;
	position: relative;
	margin-top: 400px;
	padding-left: 10px;
	transition: width 2.5s;
	width:100px;
}

.HTML {
	font-size: 40px;
	text-decoration: underline;
	margin-left: 15px;
	position: relative;
	margin-top: 400px;
	padding-left: 10px;
	transition: width 2.5s;
	width:140px;
}

.JavaScript {
	font-size: 40px;
	text-decoration: underline;
	margin-left: 15px;
	position: relative;
	margin-top: 400px;
	padding-left: 10px;
	transition: width 2.5s;
	width:185px;
}

.Python {
	font-size: 40px;
	text-decoration: underline;
	margin-left: 15px;
	position: relative;
	margin-top: 400px;
	padding-left: 10px;
	transition: width 2.5s;
	width:141px;
}

.LToC:visited {
	color:black;
}

.CSST {
	font-size: 20px;
	margin-left: 15px;
	padding-left: 10px;
	padding-top: 10px;
}

.HTMLT {
	font-size: 20px;
	margin-left: 15px;
	padding-left: 10px;
	padding-top: 10px;
}

.JavaScriptT {
	font-size: 20px;
	margin-left: 15px;
	padding-left: 10px;
	padding-top: 10px;
}

.PythonT {
	font-size: 20px;
	margin-left: 15px;
	padding-left: 10px;
	padding-top: 10px;
}

.TutorialsCSS:visited {
	color:black;
}

.TutorialsCSS:active {
	font-size: 19.5px;
}

.TutorialsHTML:visited {
	color:black;
}

.TutorialsHTML:active {
	font-size: 19.5px;
}

.TutorialsJavaScript:visited {
	color:black;
}

.TutorialsJavaScript: active {
	font-size: 19.5px;
}

.TutorialsPython:visited {
	color:black;
}

.TutorialsPython:active {
	font-size: 19.5px;
}

.CSS:hover {
	width: 400px;
	background-color: #ccced1;
	transition-timing-function: ease-in-out;
	border-right: solid 3px black;
}

.HTML:hover {
	width: 400px;
	background-color: #ccced1;
	transition-timing-function: ease-in-out;
	border-right: solid 3px black;
}

.JavaScript:hover {
	width: 400px;
	background-color: #ccced1;
	transition-timing-function: ease-in-out;
	border-right: solid 3px black;
}

.Python:hover {
	width: 400px;
	background-color: #ccced1;
	transition-timing-function: ease-in-out;
	border-right: solid 3px black;
}

.JavaImg {
	margin-top: 40px;
	margin-left: 1470px;
	border: inset 3px grey;
}

.CSSImg {
	margin-top: 40px;
	margin-left: 1634px;
	border: inset 3px grey;
}

.HtmlImg {
	margin-top: 40px;
	margin-left: 1421px;
	border: inset 3px grey;
}

.JavaScriptImg {
	margin-top: 40px;
	margin-left: 1515px;
	border: inset 3px grey;
}

.PythonImg {
	margin-top: 40px;
	margin-left: 1514px;
	border: inset 3px grey;
}