body {
	background-color:#e3e5e8;

}

#header {
	width: 800px;
	height: 60px;
	background-color:#8eaddb;
	margin: auto;
	padding: 10px;
	border-left: 5px solid black;
	border-right: 5px solid black;
}

#title {
	text-align:center;
	font-family: Garamond;
	font-size:50px;

}

#RightImg {
	margin-left: 1470px;
	margin-top: -70px;
	margin-left: 1495px;


}

#LeftImg {
	margin-top: -725px;
}

#a {
	margin-left: 40%;
	padding:10px;
}

#b {
	margin-left: 38%;
	padding:10px;
}

#c {
	margin-left:30%;
	padding:10px;
}

#d {
	margin-left: 40%;
	padding:10px;
}

#e {
	margin-left:25%;
	padding:10px;
}